.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(14, 14, 66);
    color: white;
    height: 100px;
}

.logoContainer{
    display: inline-flex;
    align-items: center;
    height: 100px;
}

.logo{
    position: relative;
    right: 30px;
    font-size: 50px;
    color: white;
}

.searchContainer{
    display: inline-flex;
    align-items: center;
    height: 100px;
}

.loginContainer{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.loginregister{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login{
    position: relative;
    text-decoration: none;
    color:white;
    right: 40px;
    font-size: 25px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    transition: background 0.5s;
}

.login:hover{
    background-color: rgb(30, 30, 172);
}

.register{
    font-size: 25px;
    text-decoration: none;
    color:white;
}