.container{
    display: flex;
    justify-items: center;
    color: rgb(0, 0, 0);
    background-color: none;
    padding-left: 1%;
    padding-right: 1%;
    transition: background 0.5s;
}
.container:hover{
    background-color: white ;
}
.container:hover .link{
    font-weight: 500;
    text-decoration: underline;
}

.imgContainer{
    height: 100%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchbar{
    font-size: 30px;
    width: 20%;
    
}
.blue{
    background-color: rgb(14, 14, 66);
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.supercontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: rgb(255, 255, 255, 0.6);
    width: 100%;
    bottom: 40px;
}

.link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.itemName{
    font-size: large;
    font-weight: 500;
    padding: 5px;
    padding-left: 0;
}

.bottomInfo{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}